:root {
    --listagem_background: #E7F1F9;
    --listagem_text_color: #000000;
    --cadastro_background: #001044;
    --cadastro_text_color: #ffffff
}

[data-theme="dark"] {
    --listagem_background: #001044;
    --listagem_text_color: #ffffff;
    --cadastro_background: #0B1724;
    --cadastro_text_color: #000000
}

* {
    transition: all 0.3s ease-in-out;
}